.feedback-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 408px;
  height: 296px;
}
.form-label {
  display: block;
  text-align: left;
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}

.form-email {
  background-color: transparent;
  outline: transparent;
  resize: none;
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 360px;
  min-height: 40px;
  color: #808080;
}

.form-message {
  background-color: transparent;
  outline: transparent;
  resize: none;
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 360px;
  min-height: 80px;
  color: #808080;
}

.form-btn {
  margin: 0 auto;
  display: block;
  cursor: pointer;
  min-width: 95px;
  min-height: 40px;
  border: none;
  border-radius: 8px;
  text-align: center;
  background: #4d5ae5;
  pointer-events: all;
}
